@font-face {
  font-family: WhaleITried;
  src: url(../fonts/WhaleITriedRegular-xWq0.ttf);
}

:root {
  --primary: #4db5fa;
  --secondary: #ecc30b;
  --dark: #251605;
  --light: #FCFCFC;
}

*{
  padding: 0;
  margin: 0;
}

h1 {
  font-family: WhaleItried;
  font-size: 10rem;
  color: var(--secondary);
  text-shadow: 3px 3px var(--light);
}

body {
  background-color: var(--primary);
}

main {
  font-weight: bold;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

/**Main**/

.choices-row {
  margin-bottom: 30px;
}

.choices-row button {
  text-align: center;
  font-size: 7.5rem;
  min-width: 160px;
  margin: 0 10px;
  border-radius: 50%;
  border: 5px solid black;
  background-color: hsl(13, 73%, 91%);
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.choices-row button:hover {
  background-color: hsla(14, 74%, 91%, 0.477);
}


#finishSection {
  text-align: center;
}

/**Footer*/

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--dark);
  color: var(--light);
  line-height: 1.5rem;
  padding-block: 0.5rem;

  & ul {
    --_gap: 2rem;
    width: 100%;
  }

  & li {
    padding-inline: 1rem;
  }
  
  & a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--light);
  }

  /* Hover effects */
  & li{
    padding-inline: calc(var(--_gap)/2); 
    position: relative;
    opacity: 0.7;
    overflow: hidden;
  }

  & li:hover {
    opacity: 1;
  }

  & li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: var(--secondary);

    scale: 0 1;
    transition: scale 250ms,
                translate 300ms;
  }

  & li:hover::after{
    scale: 1 1;
  }

  /* Hover effect left to right */
  & li:hover + li::after {
    translate: -100%;
  }

  & li:has(+ li:hover)::after{
    translate: 100%;
  }

}
  & a::before {
    font: var(--fa-font-solid);
    content: "\f09b";
    color: white;
  }
}
