@font-face {
  font-family: WhaleITried;
  src: url(../fonts/WhaleITriedRegular-xWq0.ttf);
}

:root {
  --primary: #4DB5FA;
  --secondary: #ECC30B;
  --dark: #251605;
  --light: #FCFCFC;
}

h1{
  font-family: WhaleItried;
  font-size: 10rem;
  color: var(--secondary);
  text-shadow: 3px 3px var(--light);
}

body {
  background-color: var(--primary);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: right;
  background-color: var(--dark);
  color: var(--light);
  line-height: 1.5rem;

  & ul {
    width: 100%;
  }
  

  & li{
    padding-inline: 1rem;
  }

  & a {
    text-decoration: none;
    color: var(--light);
  }

    & a::before {
      font: var(--fa-font-solid);
      content: '\f09b';
      color:white;
    }
}


