@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Infant&display=swap");

@font-face {
  font-family: WhaleITried;
  src: url(../fonts/WhaleITriedRegular-xWq0.ttf);
}

:root {
  --primary: #92d4f7;
  --secondary: #ecc30b;
  --dark: #251605;
  --light: #fcfcfc;
}

* {
  padding: 0;
  margin: 0;
}
/*Header*/
h1 {
  font-family: WhaleItried;
  font-size: clamp(2rem, 4vw, 6vw);
  color: var(--secondary);
  text-shadow: 3px 3px var(--light);
  text-transform: uppercase;
}
#header {

    height: 100%;
    width: 100%;
    background: url("../img/multfilm-shou-simpsons-personazh-20th-century-fox-art-ris-15.jpg") no-repeat center center/cover;
    position: relative;
}

/**/
body {
  background-color: var(--primary);
}

main {
  font-weight: bold;
  font-family: "Ysabeau Infant", sans-serif;
  font-size: clamp(1rem, 2.5vw, 3rem);
}

/**Main**/

/**username input**/
#usernameArea {
  margin-left: 6px;
  padding: 5px;
  font-family: "Ysabeau Infant", sans-serif;
  font-size: clamp(1rem, 2.5vw, 3rem);
}

#nameInput {
  padding: 0 5px;
  border: none;
  border-radius: 10px;
  background-color: whitesmoke;
  transition: background-color 0.5s ease;
}

#nameInput:hover {
  transform: scale(1.05);
  background-color: white;
}

#submitBtn {
  margin-left: 2px;
  padding: 0 5px;
  border-radius: 10px;
  border: 2px solid var(--secondary);
  background-color: whitesmoke;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

#submitBtn:hover {
  transform: scale(1.05);
  background-color: white;
}

/**choice section**/
.choices-row {
  padding: 10px;
  margin-bottom: 30px;
}

.choices-row button {
  font-size: 5rem;
  width: 130px;
  height: 130px;
  margin: 0 10px;
  border-radius: 50%;
  border: 5px solid var(--secondary);
  background-color: whitesmoke;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.choices-row button:hover {
  transform: scale(1.05);
  background-color: white;
}

/**finish button**/
.finishBtn {
  margin-bottom: 50px;
  font-family: WhaleItried;
  font-size: 1.5rem;
  padding: 15px;
  border-radius: 25%;
  border: 5px solid var(--secondary);
  background-color: whitesmoke;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.finishBtn:hover {
  transform: scale(1.1);
  background-color: white;
}

/**Footer*/

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--dark);
  color: var(--light);
  line-height: 1.5rem;
  padding-block: 0.5rem;

  & ul {
    --_gap: 2rem;
    width: 100%;
  }

  & li {
    padding-inline: 1rem;
  }

  & a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--light);
  }

  /* Hover effects */
  & li {
    padding-inline: calc(var(--_gap) / 2);
    position: relative;
    opacity: 0.7;
    overflow: hidden;
  }

  & li:hover {
    opacity: 1;
  }

  & li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: var(--secondary);

    scale: 0 1;
    transition: scale 250ms, translate 300ms;
  }

  & li:hover::after {
    scale: 1 1;
  }

  /* Hover effect left to right */
  & li:hover + li::after {
    translate: -100%;
  }

  & li:has(+ li:hover)::after {
    translate: 100%;
  }
}
/*Media sizes
@media screen and (min-width: 375px) {
  .choices-row button {
    font-size: 5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 50%;
    border: 5px solid var(--secondary);
    background-color: whitesmoke;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }
}
*/